[submodule "3rdparty/json-parser"]
	path = 3rdparty/json-parser
	url = https://github.com/json-parser/json-parser.git
[submodule "3rdparty/json-builder"]
	path = 3rdparty/json-builder
	url = https://github.com/ChromaticIsobar/json-builder.git
